.App {
  text-align: center;
}

.inner-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#quote-box {
  min-height: 150px;
  min-width: 400px;
  background-color: #fff;
}
#text{
  min-width: 100%;
}
#author{
  min-width: 100%;
}
.buttons{ 
  min-width: 100%;
}