.App {
  text-align: center;
}

.inner-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#quote-box {
  min-height: 150px;
  width: 450px;
  background-color: #fff;
}